In [1]:
import pandas as pd;
import numpy as np;
import matplotlib.pyplot as plt;
import seaborn as sns;

In [12]:
df = pd.read_csv('./Social_Network_Ads.csv')
df = df[['Age' , 'EstimatedSalary' , 'Purchased']]

In [14]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train, y_test = train_test_split(df.drop('Purchased' , axis=1), df['Purchased'] , test_size=0.3 , random_state=0);

## **StandardScaler**

In [16]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler();

scaler.fit(x_train);

x_train_scaled = scaler.transform(x_train); # the problem is that it gives numpy array
x_test_scaled = scaler.transform(x_test);

In [25]:
x_train_scaled = pd.DataFrame(x_train_scaled , columns=x_train.columns);
x_test_scaled = pd.DataFrame(x_test_scaled , columns=x_test.columns);

In [28]:
x_train.describe()

              Age  EstimatedSalary
count  280.000000       280.000000
mean    37.864286     69807.142857
std     10.218201     34641.201654
min     18.000000     15000.000000
25%     30.000000     43000.000000
50%     37.000000     70500.000000
75%     46.000000     88000.000000
max     60.000000    150000.000000

In [31]:
x_train_scaled.describe()

                Age  EstimatedSalary
count  2.800000e+02     2.800000e+02
mean   3.489272e-17     6.344132e-17
std    1.001791e+00     1.001791e+00
min   -1.947491e+00    -1.584970e+00
25%   -7.710131e-01    -7.752370e-01
50%   -8.473441e-02     2.003677e-02
75%    7.976239e-01     5.261201e-01
max    2.170181e+00     2.319101e+00

### effects of scaling