In [180]:
import numpy as np;
import pandas as pd;
from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [181]:
print("radha")

radha

In [182]:
df = pd.read_csv('train.csv')[['Age','Pclass','Fare','Survived']]
df.head()

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0

In [183]:
df.isnull().mean() * 100

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

In [184]:
X = df.drop('Survived',axis=1)
y = df['Survived']

In [185]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [186]:
X_train.head()

      Age  Pclass    Fare
814  30.5       3  8.0500
628  26.0       3  7.8958
816  23.0       3  7.9250
208  16.0       3  7.7500
588  22.0       3  8.0500

In [187]:
knn = KNNImputer(n_neighbors=5,weights='distance')
X_train_imputed = knn.fit_transform(X_train)
X_test_imputed = knn.transform(X_test)

In [188]:
lr = LogisticRegression()
lr.fit(X_train_imputed,y_train)
y_pred = lr.predict(X_test_imputed)
round(accuracy_score(y_test,y_pred)*100,2)

69.27

**see by mean**

In [189]:
si = SimpleImputer(strategy='mean')
X_train_imputed_si = si.fit_transform(X_train)
X_test_imputed_si = si.transform(X_test)

In [190]:
lr = LogisticRegression()
lr.fit(X_train_imputed_si,y_train)
y_pred_si = lr.predict(X_test_imputed_si)
round(accuracy_score(y_test,y_pred_si)*100,2)

69.27