In [22]:
import numpy as np;
import pandas as pd;

<p>we have to do onehotencoding on gender and city cols , simple imputer on fever cols , ordinal encoding on cough col</p>

## **data analysis**

In [4]:
df = pd.read_csv('./covid_toy.csv');
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [5]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [8]:
from sklearn.impute import SimpleImputer;
from sklearn.preprocessing import OneHotEncoder;
from sklearn.preprocessing import OrdinalEncoder;
from sklearn.model_selection import train_test_split;

In [10]:
X_train , X_test , y_train , y_test = train_test_split(df.drop(columns=['has_covid']) , df['has_covid'] , test_size=0.2, random_state=0)

## **SimpleImputer()**

In [21]:
si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']]);
X_test_fever = si.transform(X_test[['fever']])

## **OrdinalEncoder()**

In [28]:
oe = OrdinalEncoder(categories=[['Mild' , 'Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']]);
X_test_cough = oe.transform(X_test[['cough']])

## **OneHotEncoder()**

In [32]:
X_train.columns

Index(['age', 'gender', 'fever', 'cough', 'city'], dtype='object')

In [33]:
ohe = OneHotEncoder(drop='first', sparse_output=False)
X_train_gender_city = ohe.fit_transform(X_train[['gender' , 'city']])
X_test_gender_city = ohe.transform(X_test[['gender' , 'city']]);

# **Mentos Life using column transformer**

In [37]:
from sklearn.compose import ColumnTransformer;

In [40]:
transformer = ColumnTransformer(transformers=[
    ('tnf1' , SimpleImputer() , ['fever']),
    ('tnf2' , OrdinalEncoder(categories=[['Mild', 'Strong']]) , ['cough']),
    ('tnf3' , OneHotEncoder(drop='first', sparse_output=False) , ['gender' , 'city'])
]  , remainder = 'passthrough');

In [43]:
transformer.fit_transform(X_train).shape

(80, 7)

In [45]:
transformer.transform(X_test).shape

(20, 7)